[submodule "02_R-Programming/ProgrammingAssignment2"]
	path = 02_R-Programming/ProgrammingAssignment2
	url = /Users/nikosteinhoff/Documents/Coursera/CourseraDataScience/02_R-Programming/ProgrammingAssignment2
