[submodule "02_R-Programming/ProgrammingAssignment2"]
	path = 02_R-Programming/ProgrammingAssignment2
	url = /Users/nikosteinhoff/Documents/Coursera/CourseraDataScience/02_R-Programming/ProgrammingAssignment2
[submodule "04_ExploratoryDataAnalysis/ExData_Plotting1"]
	path = 04_ExploratoryDataAnalysis/ExData_Plotting1
	url = /Users/nikosteinhoff/Documents/Coursera/CourseraDataScience/04_ExploratoryDataAnalysis/ExData_Plotting1
